/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-background: #0C1829;
    --color-box: #13243C;
    --color-title: #FFFFFF;
    --color-primary: #04FCFA;
    --color-body: #9293B9;
    --color-stroke: #2B3953;
}